div#fs-small {
  font-size: 17px;
}

body {
  padding-top: 50px;
}
.page-style {
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:8px !important;
    padding-bottom:0 !important;
    height: 38px;
}
.navbar {min-height:38px !important;}

body {
  font-family: 'Raleway';
}

.c3-axis .tick line {display: none;}
